# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor files
.vscode/
*.swp
*.swo

# Dependências e chaves sensíveis
node_modules/
.vercel/
*.json.serviceaccount
firebase-service-account*.json
.env
.env.local

.vercel
